<div class="row user-box text-center">
  <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-12">{{ user.id }}</div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">{{ user.name }}</div>
  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12 font-italic">{{ user.username }}</div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 font-italic">{{ user.email }}</div>
  <div class="col-xl-1 col-lg-1 col-md-1 col-sm-5 col-5">
    <a href="/profile/{{user.id}}"><div class="btn btn-success">See</div></a>
  </div>
  <div class="col-xl-1 col-lg-1 col-md-1 col-sm-5 col-5 btn btn-danger" (click)="onDelete(user)">Delete</div>
</div>